
html {
  scroll-behavior: smooth;
}
body {
    background-color: rgba(202, 226, 255, 0.929);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #ff5733; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
  .left-side {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .left-side li {
    display: inline;
    margin-right: 20px; 
  }
  .left-side a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
  }
  .left-side a:hover {
    text-decoration: underline;
  }
  .right-side {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .right-side li {
    display: inline;
    margin-left: 20px;
  }
  .nav-button {
    text-decoration: none;
    background-color: #0077B5; 
    color: #fff;
    padding: 10px 20px; 
    border-radius: 10px;
    font-weight: bold;
  }
  
  .nav-button:hover {
    background-color: #00568C;
  }
header {
    background-image: url('First pic.jpg');
    background-size: cover;
    color: rgb(233, 144, 144);
    text-align: center;
    padding: 100px;
}
h1{
  font-size: 30px;
}
#services {
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
i.bx {
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
  }
footer {
    background-color: #ff5733;
    color: #fff;
    text-align: center;
    padding: 42px 0; 
    width: 100%;
  }
  footer p {
    margin: 0;
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width :800px) {
    .body{
      width: 100%;
      padding: 0;
    }
  }
  